#This Apache config file was created by Duplicator Installer on 2019-11-04 10:35:21.
#The original can be found in archived file with the name htaccess.orig

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /demo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /demo/index.php [L]
</IfModule>

# END WordPress

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /homepages/14/d631315482/htdocs/clickandbuilds/byssheband/demo/.htpasswd
Require valid-user