/* Add fonts */
@font-face {
  font-family: 'StrongGlasgow';
  src: url(assets/fonts/StrongGlasgow.ttf);
}

/* Variables */
/* General rules */
body {
  background: #1D2223;
  font-family: "StrongGlasgow";
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  border-bottom: 1px;
  color: #1D2223;
}

/* Specific rules */
#header-page {
  height: 25vh;
  padding-top: 20px;
}

#header-page #content-logo img {
  height: 175px;
  width: 175px;
}

#header-page .burger {
  margin-top: 35px;
  cursor: pointer;
}

#header-page .burger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-page .is-active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#header-page .is-active .line:nth-child(2) {
  -webkit-transition: none;
  transition: none;
}

#header-page .is-active .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#header-page .is-active .line:nth-child(2) {
  opacity: 0;
}

#header-page .is-active .line:nth-child(1),
#header-page .is-active .line:nth-child(3) {
  width: 35px;
  -webkit-transform-origin: right;
  transform-origin: right;
}

#header-page .is-active .line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
  transform: translateY(15px) rotate(45deg);
}

#header-page .is-active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg);
}

#header-page .content-menu {
  display: none;
}

#accueil {
  height: 65vh;
}

#accueil section #content-accueil #content-actualites .row div:first-child {
  padding-left: 5.3%;
}

#accueil section #content-accueil #content-actualites .row div:last-child {
  padding-right: 5.3%;
}

#accueil section #content-accueil #content-actualites .row .news,
#accueil section #content-accueil #content-actualites .row .tour {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#accueil section #content-accueil #content-actualites .row .news h2,
#accueil section #content-accueil #content-actualites .row .tour h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

#accueil section #content-accueil #content-actualites .row .news span,
#accueil section #content-accueil #content-actualites .row .tour span {
  display: inline-block;
  background-color: #fff;
}

#accueil section #content-accueil #content-actualites .row .news span a img,
#accueil section #content-accueil #content-actualites .row .tour span a img {
  width: 500px;
  height: 350px;
}

#accueil section #content-accueil #content-actualites .row .news span:hover,
#accueil section #content-accueil #content-actualites .row .tour span:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: contrast(175%) brightness(23%);
          filter: contrast(175%) brightness(23%);
}

#cover_page {
  height: 100vh;
  font-size: 80px;
}

#cover_page #cover_album {
  background-image: url(assets/img/album.svg);
  background-size: 75% auto;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 100%;
}

#cover_page #cover_album .row {
  height: 100%;
}

#cover_page #cover_album .row #content-logo img {
  height: 100%;
  width: 25%;
}

footer {
  height: 10vh;
}

footer .container .reseaux li a i {
  color: #8B9F93;
  font-size: 50px;
}

footer .container .reseaux li a i:hover {
  color: #fff;
}

footer .container .copyright {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

footer .container .copyright li {
  display: none;
  color: #8B9F93;
}
/*# sourceMappingURL=style.css.map */