/* Add fonts */
@font-face {
  font-family: 'StrongGlasgow';
  src: url(assets/fonts/StrongGlasgow.ttf);
}

/* Variables */
/* General rules */
body {
  background: #1D2223;
  font-family: "StrongGlasgow";
  color: #fff;
}

section > h1 {
  margin-bottom: 7%;
}

li {
  list-style: none;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1 {
  margin-bottom: 40px;
  font-family: "StrongGlasgow";
  font-size: 40px;
  color: #8B9F93;
  letter-spacing: 3px;
}

h1 span {
  border-bottom: 1px solid #8B9F93;
  padding-bottom: 10px;
}

#menu-shop {
  margin-bottom: 40px;
}

.related {
  margin-top: 100px;
}

.related > h2 {
  margin-bottom: 40px;
  font-family: "StrongGlasgow";
  color: #8B9F93;
  font-size: 40px;
  letter-spacing: 3px;
}

.related > h2 span {
  border-bottom: 1px solid #8B9F93;
  padding-bottom: 10px;
}

.related .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .related .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .related .products .attachment-woocommerce_thumbnail {
    height: 150px !important;
    width: 150px !important;
  }
}

.return-to-shop,
.wc-backward {
  display: none;
}

.in-stock,
#tab-title-description,
.product_meta {
  display: none;
}

.wc-tabs-wrapper {
  display: none;
}

.wc-forward {
  color: #8B9F93;
}

.wp-post-image {
  height: 300px !important;
  width: 300px !important;
}

@media (max-width: 767px) {
  .wp-post-image {
    height: 200px !important;
    width: 200px !important;
  }
}

.product_title {
  margin-bottom: 40px;
}

.quantity {
  width: 40%;
  margin-bottom: 10px;
}

.checkout {
  font-family: "Poppins", sans-serif;
}

.woocommerce-checkout-payment,
#payment {
  background: #8B9F93 !important;
}

/* Specific rules */
/* cover page */
#cover_page {
  height: 100vh;
  font-size: 65px;
}

#cover_page #cover_album {
  background-image: url(assets/img/album.png);
  background-size: 69.25% auto;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 100%;
}

#cover_page #cover_album .row {
  height: 100%;
}

#cover_page #cover_album .row #content-logo {
  margin-top: 20px;
}

#cover_page #cover_album .row #content-logo img {
  height: 215px;
  width: 215px;
}

#cover_page #cover_album .row #content-logo img:last-child {
  display: none;
}

@media (min-width: 2000px) {
  #cover_page #cover_album .row #content-logo img:first-child {
    display: none;
  }
  #cover_page #cover_album .row #content-logo img:last-child {
    display: block;
  }
}

@media (max-width: 1025px) {
  #cover_page #cover_album .row #content-logo img:first-child {
    display: none;
  }
  #cover_page #cover_album .row #content-logo img:last-child {
    display: block;
  }
}

@media (min-width: 1100px) and (max-width: 1154px) {
  #cover_page #cover_album .row #content-logo img {
    margin-top: 16px;
    height: 170px;
    width: 170px;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  #cover_page #cover_album .row #content-logo img {
    height: 160px;
    width: 160px;
  }
}

@media (max-width: 767px) {
  #cover_page #cover_album .row #content-logo img {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1500px) and (max-width: 1999px) {
  #cover_page #cover_album .row #content-logo {
    margin-top: 100px;
  }
}

#cover_page #cover_album .row ul {
  margin-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

#cover_page #cover_album .row ul li {
  position: relative;
  padding: 5px 0;
}

#cover_page #cover_album .row ul li .effect-btn:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 1025px) {
  #cover_page #cover_album .row ul li .effect-btn:before {
    display: none;
  }
}

#cover_page #cover_album .row ul li .effect-btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 1025px) {
  #cover_page #cover_album .row ul li .effect-btn:after {
    display: none;
  }
}

#cover_page #cover_album .row ul li .effect-btn:hover:before, #cover_page #cover_album .row ul li .effect-btn:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 1025px) {
  #cover_page #cover_album .row ul li .effect-btn:hover:before, #cover_page #cover_album .row ul li .effect-btn:hover:after {
    display: none;
  }
}

@media (min-width: 1500px) and (max-width: 1999px) {
  #cover_page #cover_album .row ul li {
    margin-bottom: 80px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  #cover_page #cover_album .row ul li {
    margin-bottom: 10px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  #cover_page #cover_album .row ul {
    padding-left: 17%;
    padding-right: 17%;
  }
}

@media (min-width: 1155px) and (max-width: 1299px) {
  #cover_page #cover_album {
    background-size: 60%;
  }
}

@media (min-width: 1100px) and (max-width: 1154px) {
  #cover_page #cover_album {
    background-size: 62.5%;
  }
}

@media (max-width: 1025px) {
  #cover_page #cover_album {
    background-size: 100%;
  }
}

@media (min-width: 768px) and (max-width: 767px) {
  #cover_page {
    font-size: 47px;
  }
}

@media (max-width: 767px) {
  #cover_page {
    font-size: 29px;
  }
}

/* header */
#header-page {
  height: 25vh;
  padding-top: 20px;
}

#header-page #content-logo img {
  height: 175px;
  width: 175px;
}

@media (min-width: 2500px) {
  #header-page #content-logo img {
    height: 275px;
    width: 275px;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  #header-page #content-logo img {
    height: 160px;
    width: 160px;
  }
}

@media (max-width: 767px) {
  #header-page #content-logo img {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 767px) {
  #header-page #content-logo {
    padding-top: 10px;
    padding-left: 7%;
  }
}

#header-page .burger {
  margin-top: 35px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 2%;
}

#header-page .burger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header-page .is-active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#header-page .is-active .line:nth-child(2) {
  -webkit-transition: none;
  transition: none;
}

#header-page .is-active .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#header-page .is-active .line:nth-child(2) {
  opacity: 0;
}

#header-page .is-active .line:nth-child(1),
#header-page .is-active .line:nth-child(3) {
  width: 35px;
  -webkit-transform-origin: right;
  transform-origin: right;
}

#header-page .is-active .line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
  transform: translateY(15px) rotate(45deg);
}

#header-page .is-active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg);
}

#header-page .content-menu {
  display: none;
  font-family: "Poppins", sans-serif;
}

#header-page .content-menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7%;
}

#header-page .content-menu .menu ul li {
  font-size: 40px;
  margin-bottom: 7px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 7px 0;
  color: #fff;
}

#header-page .content-menu .menu ul li:first-child {
  width: 30%;
}

#header-page .content-menu .menu ul li:nth-child(2) {
  width: 12%;
}

#header-page .content-menu .menu ul li:nth-child(3) {
  width: 23%;
}

#header-page .content-menu .menu ul li:nth-child(4) {
  width: 23%;
}

#header-page .content-menu .menu ul li:nth-child(5) {
  width: 18%;
}

#header-page .content-menu .menu ul li:last-child {
  width: 37%;
}

#header-page .content-menu .menu ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #8B9F93;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 991px) {
  #header-page .content-menu .menu ul li a:after {
    -webkit-transition: none;
    transition: none;
  }
}

#header-page .content-menu .menu ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 991px) {
  #header-page .content-menu .menu ul li a:hover:after {
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 2500px) {
  #header-page .content-menu .menu ul li {
    font-size: 50px;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #header-page .content-menu .menu ul li {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  #header-page .content-menu .menu ul li {
    font-size: 30px;
  }
}

#header-page .content-menu .form form legend {
  margin-bottom: 50px;
}

@media (min-width: 2500px) {
  #header-page .content-menu .form form legend {
    font-size: 40px;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #header-page .content-menu .form form legend {
    font-size: 22px;
  }
}

#header-page .content-menu .form form .form-group input {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #8B9F93;
  background-color: transparent;
  color: #fff;
  height: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

@media (min-width: 2500px) {
  #header-page .content-menu .form form .form-group input {
    height: 50px;
    font-size: 40px;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #header-page .content-menu .form form .form-group input {
    height: 22px;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}

#header-page .content-menu .form form .form-group textarea {
  border: none !important;
  height: auto;
  background-color: transparent;
  border-bottom: 1px solid #8B9F93;
  color: #8B9F93;
  line-height: 1.5;
  outline: none;
  display: block;
  width: 100%;
  min-height: 30px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
}

@media (min-width: 2500px) {
  #header-page .content-menu .form form .form-group textarea {
    font-size: 40px;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #header-page .content-menu .form form .form-group textarea {
    font-size: 15px;
  }
}

#header-page .content-menu .form form .send button {
  display: inline-block;
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px;
}

#header-page .content-menu .form form .send button::before, #header-page .content-menu .form form .send button::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

#header-page .content-menu .form form .send button::before {
  left: 50%;
  top: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#header-page .content-menu .form form .send button::after {
  left: 50%;
  bottom: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#header-page .content-menu .form form .send button:hover::before, #header-page .content-menu .form form .send button:hover::after {
  left: 0;
  width: 100%;
}

#header-page .content-menu .form form .send button:hover span::before,
#header-page .content-menu .form form .send button:hover span::after {
  height: 100%;
  top: 0;
}

#header-page .content-menu .form form .send button span {
  display: block;
  padding: 2px 7px;
}

#header-page .content-menu .form form .send button span::before, #header-page .content-menu .form form .send button span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

#header-page .content-menu .form form .send button span::before {
  left: 0;
  top: 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#header-page .content-menu .form form .send button span::after {
  right: 0;
  top: 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media (min-width: 2500px) {
  #header-page .content-menu .form form .send button {
    font-size: 40px;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #header-page .content-menu .form form .send button {
    font-size: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  #header-page .content-menu .form form .send button {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  #header-page .content-menu .form {
    margin-top: 40px;
  }
}

@media (min-width: 1700px) {
  #header-page .content-menu {
    padding-top: 4%;
  }
}

@media (max-width: 991px) {
  #header-page {
    height: auto;
  }
}

/* home */
#accueil {
  height: 64vh;
}

#accueil section #content-accueil #content-actualites {
  margin-bottom: 20px;
}

#accueil section #content-accueil #content-actualites .row {
  padding-right: 5.3%;
  padding-left: 5.3%;
}

#accueil section #content-accueil #content-actualites .row .news h2,
#accueil section #content-accueil #content-actualites .row .tour h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

@media (min-width: 2500px) {
  #accueil section #content-accueil #content-actualites .row .news h2,
  #accueil section #content-accueil #content-actualites .row .tour h2 {
    font-size: 50px;
  }
}

@media (min-width: 2000px) {
  #accueil section #content-accueil #content-actualites .row .news,
  #accueil section #content-accueil #content-actualites .row .tour {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  #accueil section #content-accueil #content-actualites .row .news,
  #accueil section #content-accueil #content-actualites .row .tour {
    margin-top: 40px;
  }
}

#accueil section #content-accueil #content-actualites .row #content-news,
#accueil section #content-accueil #content-actualites .row #content-tour {
  font-family: "Poppins", sans-serif;
  width: 500px;
  height: 350px;
  padding-top: 30px;
  background-position-x: center;
  background-repeat: no-repeat;
}

#accueil section #content-accueil #content-actualites .row #content-news:hover,
#accueil section #content-accueil #content-actualites .row #content-tour:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 991px) {
  #accueil section #content-accueil #content-actualites .row #content-news:hover,
  #accueil section #content-accueil #content-actualites .row #content-tour:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 991px) {
  #accueil section #content-accueil #content-actualites .row #content-news h2,
  #accueil section #content-accueil #content-actualites .row #content-tour h2 {
    font-size: 15px;
  }
}

@media (min-width: 2500px) {
  #accueil section #content-accueil #content-actualites .row #content-news,
  #accueil section #content-accueil #content-actualites .row #content-tour {
    height: 375px;
    width: 500px;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  #accueil section #content-accueil #content-actualites .row #content-news,
  #accueil section #content-accueil #content-actualites .row #content-tour {
    height: 300px;
    width: 400px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  #accueil section #content-accueil #content-actualites .row #content-news,
  #accueil section #content-accueil #content-actualites .row #content-tour {
    height: 250px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  #accueil section #content-accueil #content-actualites .row #content-news,
  #accueil section #content-accueil #content-actualites .row #content-tour {
    font-family: "Poppins", sans-serif;
    width: 250px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0);
  }
}

#accueil section #content-accueil #content-actualites .row .news {
  font-family: "StrongGlasgow";
}

#accueil section #content-accueil #content-actualites .row .news div {
  padding-right: 0;
}

#accueil section #content-accueil #content-actualites .row .news div #content-news .list-news {
  opacity: 0;
  border-bottom: 1px dotted #8B9F93;
  padding-top: 2.5%;
}

#accueil section #content-accueil #content-actualites .row .news div #content-news .list-news:last-child {
  border: none;
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #accueil section #content-accueil #content-actualites .row .news div #content-news .list-news {
    padding-top: 1%;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  #accueil section #content-accueil #content-actualites .row .news div #content-news .list-news {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  #accueil section #content-accueil #content-actualites .row .news div #content-news .list-news {
    display: none;
  }
}

#accueil section #content-accueil #content-actualites .row .news div #content-news:hover .list-news {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
  #accueil section #content-accueil #content-actualites .row .news div #content-news:hover .list-news {
    opacity: 0;
  }
}

#accueil section #content-accueil #content-actualites .row .tour {
  font-family: "StrongGlasgow";
}

#accueil section #content-accueil #content-actualites .row .tour div {
  padding-right: 0;
}

#accueil section #content-accueil #content-actualites .row .tour div #content-tour .list-tour {
  font-family: "Poppins", sans-serif;
  opacity: 0;
}

#accueil section #content-accueil #content-actualites .row .tour div #content-tour .list-tour li {
  margin-right: 3%;
  margin-top: 4.5%;
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #accueil section #content-accueil #content-actualites .row .tour div #content-tour .list-tour li {
    margin-top: 1%;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  #accueil section #content-accueil #content-actualites .row .tour div #content-tour .list-tour li {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  #accueil section #content-accueil #content-actualites .row .tour div #content-tour .list-tour li {
    display: none;
  }
}

@media (max-width: 767px) {
  #accueil section #content-accueil #content-actualites .row .tour div #content-tour .list-tour {
    display: none;
  }
}

#accueil section #content-accueil #content-actualites .row .tour div #content-tour:hover .list-tour {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
  #accueil section #content-accueil #content-actualites .row .tour div #content-tour:hover .list-tour {
    opacity: 0;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  #accueil section #content-accueil #content-actualites .row {
    padding-top: 15px;
  }
}

@media (min-width: 2500px) {
  #accueil section #content-accueil {
    padding-top: 5%;
  }
}

@media (max-width: 991px) {
  #accueil {
    height: auto;
    margin-bottom: 40px;
  }
}

/* tour */
#tour {
  font-family: "Poppins", sans-serif;
}

#tour .container h2 {
  font-family: "StrongGlasgow";
  font-size: 40px;
  margin-top: 40px;
}

#tour .container .row {
  margin: 2% 0 4% 0;
}

#tour .container .row .effect-tour .list-tour {
  border-bottom: 1px solid #8B9F93;
  padding: 10px 0;
}

#tour .container .row .effect-tour .list-tour #date {
  font-weight: bold;
  font-size: 15px;
}

#tour .container .row .effect-tour .list-tour #localisation {
  font-size: 15px;
  padding-left: 5%;
  width: 100%;
}

@media (max-width: 767px) {
  #tour .container .row .effect-tour .list-tour #localisation {
    padding-left: 0;
  }
}

#tour .container .row .effect-tour .list-tour #localisation .separate {
  padding: 0 1.5%;
}

@media (max-width: 767px) {
  #tour .container .row .effect-tour .list-tour #localisation .separate {
    display: none;
  }
}

#tour .container .row .effect-tour .list-tour #localisation #city-and-country {
  color: #8B9F93;
  font-size: 14px;
}

#tour .container .row .effect-tour .list-tour a {
  padding: 2px 4px;
  display: inline-block;
  position: absolute;
  right: 2.8%;
  background: transparent;
  color: #fff;
  font-size: 10px;
}

#tour .container .row .effect-tour .list-tour a::before, #tour .container .row .effect-tour .list-tour a::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

@media (max-width: 991px) {
  #tour .container .row .effect-tour .list-tour a::before, #tour .container .row .effect-tour .list-tour a::after {
    -webkit-transition: none;
    transition: none;
  }
}

#tour .container .row .effect-tour .list-tour a::before {
  left: 0;
  top: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#tour .container .row .effect-tour .list-tour a::after {
  left: 0;
  bottom: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#tour .container .row .effect-tour .list-tour a:hover::before, #tour .container .row .effect-tour .list-tour a:hover::after {
  left: 50%;
  height: 1px;
  width: 0;
}

#tour .container .row .effect-tour .list-tour a:hover span::before,
#tour .container .row .effect-tour .list-tour a:hover span::after {
  top: 50%;
  width: 1px;
  height: 0;
}

#tour .container .row .effect-tour .list-tour a span {
  display: block;
  padding: 2px 7px;
}

#tour .container .row .effect-tour .list-tour a span::before, #tour .container .row .effect-tour .list-tour a span::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

@media (max-width: 991px) {
  #tour .container .row .effect-tour .list-tour a span::before, #tour .container .row .effect-tour .list-tour a span::after {
    -webkit-transition: none;
    transition: none;
  }
}

#tour .container .row .effect-tour .list-tour a span::before {
  left: 0;
  top: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#tour .container .row .effect-tour .list-tour a span::after {
  right: 0;
  top: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media (max-width: 767px) {
  #tour .container .row .effect-tour .list-tour a {
    position: relative;
    left: 75%;
  }
}

/* news */
#news {
  font-family: "Poppins", sans-serif;
}

#news .container .row .display-news {
  margin-bottom: 50px;
}

#news .container .row .display-news a {
  height: 225px;
  background-color: black;
  opacity: 0.5;
}

#news .container .row .display-news a p {
  font-size: 20px;
  opacity: 1;
}

#news .container .row .display-news a:hover > p {
  display: none;
}

@media (max-width: 767px) {
  #news .container .row .display-news a:hover > p {
    display: block;
  }
}

#news .container .row .display-news a:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  #news .container .row .display-news a:hover {
    opacity: 0.5;
  }
}

@media (max-width: 767px) {
  #news .container .row .display-news a {
    height: 175px;
  }
}

/* single-news */
#single-news #return-news {
  margin-top: 20px;
  font-size: 24px;
  color: #8B9F93;
}

#single-news #return-news:hover {
  color: #fff;
}

/* videos */
#video {
  font-family: "Poppins", sans-serif;
}

#video iframe {
  margin-bottom: 5%;
  border: none;
  height: 300px;
}

#video iframe:last-child, #video iframe:nth-last-child(2) {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  #video iframe {
    height: 200px;
    margin-top: 10%;
    margin-bottom: 0;
  }
}

/* bio */
#bio {
  font-family: "Poppins", sans-serif;
}

#bio .container .content-bio {
  margin-top: 20px;
  margin-bottom: 40px;
}

#bio .container .content-groupe .member-groupe img {
  height: 250px;
  width: 375px;
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe img {
    height: 125px;
    width: 150px;
  }
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe ul {
    padding-right: 5%;
  }
}

@media (min-width: 768px) {
  #bio .container .content-groupe .member-groupe:first-child, #bio .container .content-groupe .member-groupe:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe:last-child {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 767px) {
  #bio .container .content-groupe .member-groupe {
    margin-bottom: 30px;
  }
}

/* boutique */
#boutique {
  font-family: "Poppins", sans-serif;
}

#boutique .container .row {
  margin-bottom: 40px;
}

#boutique .container .row li {
  margin-top: 40px;
}

#boutique .container .row li .buy {
  display: inline-block;
  position: relative;
  background: transparent;
  border: none;
  padding: 3px 6px;
  margin-top: 10px;
  color: #fff;
}

#boutique .container .row li .buy::before, #boutique .container .row li .buy::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

#boutique .container .row li .buy::before {
  left: 50%;
  top: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#boutique .container .row li .buy::after {
  left: 50%;
  bottom: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#boutique .container .row li .buy:hover::before, #boutique .container .row li .buy:hover::after {
  left: 0;
  width: 100%;
}

#boutique .container .row li .buy:hover span::before,
#boutique .container .row li .buy:hover span::after {
  height: 100%;
  top: 0;
}

#boutique .container .row li .buy span {
  display: block;
  padding: 2px 7px;
}

#boutique .container .row li .buy span::before, #boutique .container .row li .buy span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff;
}

#boutique .container .row li .buy span::before {
  left: 0;
  top: 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#boutique .container .row li .buy span::after {
  right: 0;
  top: 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* music */
#music .row iframe {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #music .row iframe {
    margin-top: 15px;
  }
}

#music .row .content-music {
  padding-left: 10%;
}

@media (max-width: 768px) {
  #music .row .content-music {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  #music .row #download ul {
    padding-left: 35%;
  }
}

#music .row ul li {
  margin-bottom: 5px;
}

#music .row ul li a:hover {
  color: #8B9F93;
}

@media (max-width: 768px) {
  #music .row ul {
    margin-top: 20px;
  }
}

/* cgv */
#cgv {
  font-family: "Poppins", sans-serif;
}

#page-error section h1 {
  margin-bottom: 40px;
  font-family: "StrongGlasgow";
  color: #8B9F93;
  font-size: 40px;
  letter-spacing: 3px;
}

#page-error section h1 span {
  border-bottom: 1px solid #8B9F93;
  padding-bottom: 10px;
}

#page-error section .row {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

#page-error section .row p {
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #page-error section .row img {
    height: 225px;
  }
}

@media (max-width: 768px) {
  #page-error section .row {
    font-size: 18px;
  }
}

/* footer */
footer {
  height: 17vh;
}

footer .container .all-page {
  margin: 5% 0 1% 0;
}

footer .container .content-reseaux {
  padding-left: 0;
}

footer .container .content-reseaux li a i {
  color: #8B9F93;
  font-size: 50px;
}

footer .container .content-reseaux li a i:hover {
  color: #fff;
}

@media (min-width: 2500px) {
  footer .container .content-reseaux li a i {
    font-size: 75px;
  }
}

@media (max-width: 991px) {
  footer .container .content-reseaux li a i {
    font-size: 30px;
  }
}

footer .container .content-copyright {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-left: 0;
}

footer .container .content-copyright li {
  padding-top: 30px;
  display: none;
  color: #8B9F93;
}

footer .container .content-copyright li a {
  color: #8B9F93;
}

footer .container .content-copyright li a:hover {
  color: #fff;
}

@media (max-width: 767px) {
  footer .container .content-copyright li .all-right {
    display: none;
  }
}

footer .container .content-copyright li .copy {
  display: none;
}

@media (max-width: 767px) {
  footer .container .content-copyright li .copy {
    display: block;
  }
}

@media (max-width: 767px) {
  footer .container .content-copyright li .developped-by {
    display: none;
  }
}

@media (min-width: 2500px) {
  footer .container .content-copyright {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  footer .container .content-copyright {
    font-size: 10px;
    padding-top: 20px;
  }
}

@media (max-width: 991px) {
  footer {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */