// Media quéries
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

/* Add fonts */
@font-face {
    font-family: 'StrongGlasgow';
    src: url(assets/fonts/StrongGlasgow.ttf);
}


/* Variables */

$poppins: 'Poppins',
sans-serif;
$glasgow: 'StrongGlasgow';

$black : #1D2223;
$brown : #533c42;
$white: #fff;
$beige:#D8C297;
$green: #ADB594;
$bluegrey: #8B9F93;

$high : 30px;
$little : 10px;

/* General rules */

body {
    background: $black;
    font-family: $glasgow;
    color: $white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        border-bottom: 1px;
        color: #1D2223;
    }
}

/* Specific rules */

#header-page {
    height: 25vh;
    padding-top: 20px;

    #content-logo {

        img {
            height: 175px;
            width: 175px;
        }
    }

    .burger {
        margin-top: 35px;
        cursor: pointer;

        .line {
            width: 50px;
            height: 5px;
            background-color: #ecf0f1;
            display: block;
            margin: 8px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }

   .is-active {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);

        .line:nth-child(2) {
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }
    
        .line:nth-child(2) {
            -webkit-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }
    
        .line:nth-child(2) {
            opacity: 0;
        }
    
        .line:nth-child(1),
        .line:nth-child(3) {
            width: 35px;
            -webkit-transform-origin: right;
            -moz-transform-origin: right;
            -ms-transform-origin: right;
            -o-transform-origin: right;
            transform-origin: right;
        }
    
        .line:nth-child(1) {
            -webkit-transform: translateY(15px) rotate(45deg);
            -ms-transform: translateY(15px) rotate(45deg);
            -o-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
        }
    
        .line:nth-child(3) {
            -webkit-transform: translateY(-15px) rotate(-45deg);
            -ms-transform: translateY(-15px) rotate(-45deg);
            -o-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
        }
    }

    .content-menu {
        display: none;
    }


}

#accueil {
    height: 65vh;

    section {

        #content-accueil {

            #content-actualites {

                .row {

                    div:first-child {
                        padding-left: 5.3%;
                    }

                    div:last-child {
                        padding-right: 5.3%;
                    }

                    .news,
                    .tour {
                        transform: scale(1, 1);
                        transition: all 0.3s ease-in-out;

                        h2 {
                            font-size: 35px;
                            margin-bottom: 30px;
                        }

                        span {
                            display: inline-block;
                            background-color: $white;

                            a {

                                img {
                                    width: 500px;
                                    height: 350px;
                                }
                            }

                            &:hover {
                                transform: scale(1.05, 1.05);
                                transition: all 0.3s ease-in-out;
                                filter: contrast(175%) brightness(23%);
                            }
                        }
                    }
                }
            }
        }
    }


}

#cover_page {
    height: 100vh;
    font-size: 80px;

    #cover_album {
        background-image: url(assets/img/album.svg);
        background-size: 75% auto;
        background-position-x: center;
        background-repeat: no-repeat;
        height: 100%;

        .row {
            height: 100%;

            #content-logo {
                img {
                    height: 100%;
                    width: 25%;
                }
            }
        }
    }
}

footer {
    height: 10vh;

    .container {
        .reseaux {
            li {

                a {
                    i {
                        color: $bluegrey;
                        font-size: 50px;

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }

        .copyright {
            font-family: $poppins;
            font-size: 15px;

            li {
                display: none;
                color: $bluegrey;
            }
        }
    }
}