// Media quéries
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px){ ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991px){ ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

/* Add fonts */
@font-face {
    font-family: 'StrongGlasgow';
    src: url(assets/fonts/StrongGlasgow.ttf);
}

/* Variables */

$poppins: 'Poppins',
sans-serif;
$glasgow: 'StrongGlasgow';

$black : #1D2223;
$brown : #533c42;
$white: #fff;
$beige:#D8C297;
$green: #ADB594;
$bluegrey: #8B9F93;

/* General rules */

body {
    background: $black;
    font-family: $glasgow;
    color: $white;
}

section>h1 {
    margin-bottom: 7%;
}


li {
    list-style: none;
}

a {
    color: $white;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

h1 {
    margin-bottom: 40px;
    font-family: $glasgow;
    font-size: 40px;
    color: $bluegrey;
    letter-spacing: 3px;

    span {
        border-bottom: 1px solid $bluegrey;
        padding-bottom: 10px;
    }
}

#menu-shop {
    margin-bottom: 40px;
}


//woo commerce 
.related {
    margin-top: 100px;

    &>h2 {
        margin-bottom: 40px;
        font-family: $glasgow;
        color: $bluegrey;
        font-size: 40px;
        letter-spacing: 3px;

        span {
            border-bottom: 1px solid $bluegrey;
            padding-bottom: 10px;
        }
    }

    .products {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }

        .attachment-woocommerce_thumbnail {

            @media (max-width: 767px) {
                height: 150px !important;
                width: 150px !important;
            }
        }
    }
}

.return-to-shop,
.wc-backward {
    display: none;
}

.in-stock,
#tab-title-description,
.product_meta {
    display: none;
}

.wc-tabs-wrapper {
    display: none;

    // position: absolute;
    // bottom: 7%;
    // right: 25%;
}

.wc-forward {
    color: $bluegrey;
}

.wp-post-image {
    height: 300px !important;
    width: 300px !important;

    @media (max-width: 767px) {
        height: 200px !important;
        width: 200px !important;
    }
}

.product_title {
    margin-bottom: 40px;
}

.quantity {
    width: 40%;
    margin-bottom: 10px;
}

.checkout {
    font-family: $poppins;
}

.woocommerce-checkout-payment,
#payment {
    background: $bluegrey !important;
}

/* Specific rules */

/* cover page */
#cover_page {
    height: 100vh;
    font-size: 65px;

    #cover_album {
        background-image: url(assets/img/album.png);
        background-size: 69.25% auto;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        height: 100%;

        .row {
            height: 100%;

            #content-logo {
                margin-top: 20px;

                img {
                    // height: 100%;
                    // width: 25%;
                    height: 215px;
                    width: 215px;

                    &:last-child {
                        display: none;
                    }

                    @media (max-width: 1025px) {
                        &:first-child {
                            display: none;
                        }

                        &:last-child {
                            display: block;
                        }
                    }

                    @media (min-width: 768px) and (max-width: 1025px) {
                        height: 160px;
                        width: 160px;
                    }

                    @media (max-width: 767px) {
                        height: 100px;
                        width: 100px;
                    }
                }
            }

            ul {
                margin-bottom: 40px;
                padding-left: 10%;
                padding-right: 10%;

                li {
                    // display: inline-block;
                    position: relative;
                    padding: 5px 0;

                    .effect-btn {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            transform: scaleX(0);
                            transition: transform 0.3s;

                            @media (max-width: 1025px) {
                                display: none;
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 3px;
                            background-color: $white;
                            transform: scaleX(0);
                            transition: transform 0.3s;

                            @media (max-width: 1025px) {
                                display: none;
                            }
                        }

                        &:hover {

                            &:before,
                            &:after {
                                transform: scaleX(1);

                                @media (max-width: 1025px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1025px) {
            background-size: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 767px) {
        font-size: 47px;
    }

    @media (max-width: 767px) {
        font-size: 29px;
    }
}

/* header */
#header-page {
    height: 25vh;
    padding-top: 20px;

    #content-logo {

        img {
            height: 175px;
            width: 175px;

            @media (min-width: 768px) and (max-width: 1025px) {
                height: 160px;
                width: 160px;
            }

            @media (max-width: 767px) {
                height: 100px;
                width: 100px;
            }
        }

        @media (max-width: 767px) {
            padding-top: 10px;
            padding-left: 7%;
        }
    }

    .burger {
        margin-top: 35px;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 2%;

        .line {
            width: 50px;
            height: 5px;
            background-color: #ecf0f1;
            display: block;
            margin: 8px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }

    .is-active {
        // burger effect
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);

        .line:nth-child(2) {
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }

        .line:nth-child(2) {
            -webkit-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }

        .line:nth-child(2) {
            opacity: 0;
        }

        .line:nth-child(1),
        .line:nth-child(3) {
            width: 35px;
            -webkit-transform-origin: right;
            -moz-transform-origin: right;
            -ms-transform-origin: right;
            -o-transform-origin: right;
            transform-origin: right;
        }

        .line:nth-child(1) {
            -webkit-transform: translateY(15px) rotate(45deg);
            -ms-transform: translateY(15px) rotate(45deg);
            -o-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
        }

        .line:nth-child(3) {
            -webkit-transform: translateY(-15px) rotate(-45deg);
            -ms-transform: translateY(-15px) rotate(-45deg);
            -o-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
        }
    }

    // menu + form 
    .content-menu {
        display: none;
        font-family: $poppins;

        .menu {

            ul {
                display: flex;
                flex-direction: column;
                margin-left: 7%;

                li {
                    font-size: 40px;
                    margin-bottom: 7px;
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    padding: 7px 0;
                    color: #fff;

                    &:first-child {
                        width: 30%;
                    }

                    &:nth-child(2) {
                        width: 12%;
                    }

                    &:nth-child(3) {
                        width: 23%;
                    }

                    &:nth-child(4) {
                        width: 23%;
                    }

                    &:nth-child(5) {
                        width: 18%;
                    }

                    &:last-child {
                        width: 37%;
                    }

                    a {

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 2px;
                            transform: scaleX(0);
                            background-color: $bluegrey;
                            transition: transform 0.3s;

                            @media (max-width: 991px) {
                                transition: none;
                            }
                        }

                        &:hover {
                            &:after {
                                transform: scaleX(1);

                                @media (max-width: 991px) {
                                    transform: none;
                                }
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        font-size: 30px;
                    }
                }
            }

        }

        .form {

            form {

                legend {
                    margin-bottom: 50px;
                }

                .form-group {
                    input {
                        border-right: none;
                        border-left: none;
                        border-top: none;
                        border-bottom: 1px solid $bluegrey;
                        background-color: transparent;
                        color: $white;
                        height: 30px;
                        margin-bottom: 30px;
                        padding-bottom: 10px;
                    }

                    // #message {
                    //     height: auto;
                    // }

                    textarea {
                        border: none !important;
                        height: auto;
                        background-color: transparent;
                        border-bottom: 1px solid $bluegrey;
                        color: $bluegrey;

                        line-height: 1.5;
                        outline: none;
                        display: block;
                        width: 100%;
                        min-height: 30px;
                        font-size: 16px;
                        border: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                        background: none;
                    }
                }

                .send {

                    button {
                        display: inline-block;
                        position: relative;
                        background: transparent;
                        border: none;
                        color: $white;
                        font-size: 18px;
                        cursor: pointer;
                        margin-top: 40px;

                        &::before,
                        &::after {
                            content: "";
                            width: 0;
                            height: 1px;
                            position: absolute;
                            transition: all 0.2s linear;
                            background: #fff;
                        }

                        &::before {
                            left: 50%;
                            top: 0;
                            transition-duration: 0.4s;
                        }

                        &::after {
                            left: 50%;
                            bottom: 0;
                            transition-duration: 0.4s;
                        }

                        &:hover::before,
                        &:hover::after {
                            left: 0;
                            width: 100%;

                        }

                        &:hover {

                            span::before,
                            span::after {
                                height: 100%;
                                top: 0;
                            }
                        }

                        span {
                            display: block;
                            padding: 2px 7px;

                            &::before,
                            &::after {
                                content: "";
                                width: 2px;
                                height: 0;
                                position: absolute;
                                transition: all 0.2s linear;
                                background: #fff;
                            }

                            &::before {
                                left: 0;
                                top: 50%;
                                transition-duration: 0.4s;
                            }

                            &::after {
                                right: 0;
                                top: 50%;
                                transition-duration: 0.4s;
                            }

                        }

                        @media (max-width: 767px) {
                            margin-top: 10px;
                        }
                    }
                }
            }

            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }
    }

    @media (max-width: 991px) {
        height: auto;
    }
}


/* home */
#accueil {
    height: 64vh;

    section {

        #content-accueil {

            #content-actualites {
                margin-bottom: 20px;

                .row {
                    padding-right: 5.3%;
                    padding-left: 5.3%;

                    .news,
                    .tour {

                        h2 {
                            font-size: 35px;
                            margin-bottom: 30px;
                        }

                        @media (max-width: 991px) {
                            margin-top: 40px;
                        }
                    }

                    #content-news,
                    #content-tour {
                        // transform: scale(1, 1);
                        // transition: all 0.3s ease-in-out;
                        font-family: $poppins;
                        width: 500px;
                        height: 350px;
                        padding-top: 30px;
                        // background-image: url(assets/img/news.jpg); 
                        // background-size: 100% auto; 
                        background-position-x: center;
                        background-repeat: no-repeat;

                        &:hover {
                            // transform: scale(1.05, 1.05);
                            transition: all 0.3s ease-in-out;
                            // filter: grayscale(100%);
                            background-color: rgba(0, 0, 0, 0.7);
                            // filter: brightness(30%);

                            // filter: saturate(200%);
                            // filter: sepia(200%);

                            @media (max-width: 991px) {
                                background-color: rgba(0, 0, 0, 0);
                            }

                        }

                        h2 {
                            @media (max-width: 991px) {
                                font-size: 15px;
                            }
                        }

                        @media (max-width: 991px) {
                            font-family: $poppins;
                            width: 250px;
                            height: 175px;
                            background-color: rgba(0, 0, 0, 0);
                        }
                    }

                    .news {
                        font-family: $glasgow;

                        div {
                            padding-right: 0;

                            #content-news {
                                // background-image: url(assets/img/news.jpg);
                                // background-size: 100% auto;


                                .list-news {
                                    opacity: 0;
                                    border-bottom: 1px dotted $bluegrey;
                                    padding-top: 2.5%;

                                    &:last-child {
                                        border: none;
                                    }

                                    @media (max-width: 991px) {
                                        display: none;
                                    }
                                }

                                &:hover {
                                    .list-news {
                                        opacity: 1;
                                        transition: all 0.3s ease-in-out;

                                        @media (max-width: 991px) {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }

                        }

                    }

                    .tour {
                        font-family: $glasgow;

                        div {
                            padding-right: 0;

                            #content-tour {
                                // background-image: url(assets/img/tour.jpg);
                                // background-size: 140% auto;
                                // padding-top: 16%;


                                .list-tour {
                                    font-family: $poppins;
                                    opacity: 0;

                                    li {
                                        margin-right: 3%;
                                        margin-top: 4.5%;

                                        @media (max-width: 767px) {
                                            display: none;
                                        }
                                    }

                                    @media (max-width: 767px) {
                                        display: none;
                                    }
                                }

                                &:hover {
                                    .list-tour {
                                        opacity: 1;
                                        transition: all 0.3s ease-in-out;

                                        @media (max-width: 991px) {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        height: auto;
        margin-bottom: 40px;
    }
}

/* tour */

#tour {
    font-family: $poppins;

    .container {

        h2 {
            font-family: $glasgow;
            font-size: 40px;
            margin-top: 40px;
        }

        .row {
            margin: 2% 0 4% 0;

            .effect-tour {
                .list-tour {
                    border-bottom: 1px solid $bluegrey;
                    padding: 10px 0;

                    #date {
                        // padding-right: 4px;
                        font-weight: bold;
                        font-size: 15px;
                    }

                    #localisation {
                        font-size: 15px;
                        padding-left: 5%;
                        width: 100%;

                        @media (max-width: 767px) {
                            padding-left: 0;
                        }

                        .separate {
                            padding: 0 1.5%;

                            @media (max-width: 767px) {
                                display: none;
                            }
                        }

                        #city-and-country {
                            color: $bluegrey;
                            font-size: 14px;
                        }
                    }

                    a {
                        // padding-left: 4px;
                        padding: 2px 4px;
                        display: inline-block;
                        position: absolute;
                        right: 2.8%;
                        background: transparent;
                        color: $white;
                        font-size: 10px;

                        &::before,
                        &::after {
                            content: "";
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            transition: all 0.2s linear;
                            background: #fff;

                            @media (max-width: 991px) {
                                transition: none;
                            }
                        }

                        &::before {
                            left: 0;
                            top: 0;
                            transition-duration: 0.4s;
                        }

                        &::after {
                            left: 0;
                            bottom: 0;
                            transition-duration: 0.4s;
                        }

                        &:hover::before,
                        &:hover::after {
                            left: 50%;
                            height: 1px;
                            width: 0;

                        }

                        &:hover {

                            span::before,
                            span::after {
                                top: 50%;
                                width: 1px;
                                height: 0;
                            }
                        }

                        span {
                            display: block;
                            padding: 2px 7px;

                            &::before,
                            &::after {
                                content: "";
                                width: 1px;
                                height: 100%;
                                position: absolute;
                                transition: all 0.2s linear;
                                background: #fff;

                                @media (max-width: 991px) {
                                    transition: none;
                                }
                            }

                            &::before {
                                left: 0;
                                top: 0;
                                transition-duration: 0.4s;
                            }

                            &::after {
                                right: 0;
                                top: 0;
                                transition-duration: 0.4s;
                            }
                        }

                        @media (max-width: 767px) {
                            position: relative;
                            left: 75%;
                        }
                    }
                }
            }
        }
    }
}

/* news */
#news {
    font-family: $poppins;

    .container {
        .row {
            .display-news {
                margin-bottom: 50px;

                a {
                    height: 225px;
                    background-color: black;
                    opacity: 0.5;


                    p {
                        font-size: 20px;
                        opacity: 1;
                    }

                    &:hover>p {
                        display: none;

                        @media (max-width: 767px) {
                            display: block;
                        }
                    }

                    &:hover {
                        opacity: 1;

                        @media (max-width: 767px) {
                            opacity: 0.5;
                        }
                    }

                    @media (max-width: 767px) {
                        height: 175px;
                    }
                }
            }
        }
    }
}

/* single-news */

#single-news {
    #return-news {
        margin-top: 20px;
        font-size: 24px;
        color: $bluegrey;

        &:hover {
            color: $white;
        }
    }
}

/* videos */
#video {
    font-family: $poppins;

    iframe {
        margin-bottom: 5%;
        border: none;
        height: 300px;

        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        @media (max-width: 767px) {
            height: 200px;
            margin-top: 10%;
            margin-bottom: 0;
        }
    }
}

/* bio */
#bio {

    font-family: $poppins;

    .container {

        .content-bio {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .content-groupe {
            .member-groupe {
                img {
                    height: 250px;
                    width: 375px;


                    @media (max-width: 767px) {
                        height: 125px;
                        width: 150px;
                    }
                }

                ul {
                    @media(max-width: 767px) {
                        padding-right: 5%;
                    }
                }

                &:first-child,
                &:nth-child(2) {
                    @media(min-width: 768px) {
                        margin-bottom: 30px;
                    }
                }

                &:first-child {
                    @media(max-width: 767px) {
                        order: 1;
                    }
                }

                &:nth-child(2) {
                    @media(max-width: 767px) {
                        order: 3;
                    }
                }

                &:nth-child(3) {
                    @media(max-width: 767px) {
                        order: 2;
                    }
                }

                &:last-child {
                    @media(max-width: 767px) {
                        order: 4;
                    }
                }

                @media(max-width: 767px) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

/* boutique */
#boutique {

    font-family: $poppins;

    .container {
        .row {
            margin-bottom: 40px;

            li {
                margin-top: 40px;

                .buy {
                    display: inline-block;
                    position: relative;
                    background: transparent;
                    border: none;
                    padding: 3px 6px;
                    margin-top: 10px;
                    color: $white;

                    &::before,
                    &::after {
                        content: "";
                        width: 0;
                        height: 1px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #fff;
                    }

                    &::before {
                        left: 50%;
                        top: 0;
                        transition-duration: 0.4s;
                    }

                    &::after {
                        left: 50%;
                        bottom: 0;
                        transition-duration: 0.4s;
                    }

                    &:hover::before,
                    &:hover::after {
                        left: 0;
                        width: 100%;

                    }

                    &:hover {

                        span::before,
                        span::after {
                            height: 100%;
                            top: 0;
                        }
                    }

                    span {
                        display: block;
                        padding: 2px 7px;

                        &::before,
                        &::after {
                            content: "";
                            width: 2px;
                            height: 0;
                            position: absolute;
                            transition: all 0.2s linear;
                            background: #fff;
                        }

                        &::before {
                            left: 0;
                            top: 50%;
                            transition-duration: 0.4s;
                        }

                        &::after {
                            right: 0;
                            top: 50%;
                            transition-duration: 0.4s;
                        }

                    }
                }
            }
        }
    }
}

/* music */
#music {
    .row {

        iframe {
            margin-bottom: 40px;

            @media (max-width: 768px) {
                margin-top: 15px;
            }
        }

        .content-music {
            padding-left: 10%;

            @media (max-width: 768px) {
                display: flex;
                align-items: center;
                padding-left: 0;
            }
        }

        #download {
            ul {
                @media (max-width: 768px) {
                    padding-left: 35%;
                }
            }
        }

        ul {
            li {
                margin-bottom: 5px;

                a {
                    &:hover {
                        color: $bluegrey;
                    }
                }
            }

            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }
    }

}

/* footer */
footer {
    height: 17vh;

    .container {

        .all-page {
            // margin appliqué à toutes les pages sauf page accueil et frontpage
            margin: 5% 0 1% 0;
        }

        .content-reseaux {
            padding-left: 0;

            li {
                a {
                    i {
                        color: $bluegrey;
                        font-size: 50px;

                        &:hover {
                            color: $white;
                        }

                        @media (max-width: 991px) {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .content-copyright {
            font-family: $poppins;
            font-size: 15px;
            padding-left: 0;

            li {
                padding-top: 30px;
                display: none;
                color: $bluegrey;

                a {
                    color: $bluegrey;

                    &:hover {
                        color: $white;
                    }
                }

                .all-right {

                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                .copy {
                    display: none;

                    @media (max-width: 767px) {
                        display: block;
                    }
                }

                .developped-by {

                    @media (max-width: 767px) {
                        display: none;
                    }
                }

            }

            @media (max-width: 767px) {
                font-size: 10px;
                padding-top: 20px;
            }
        }
    }

    @media (max-width: 991px) {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}